<div class="col-12 col-sm-6 col-lg-3">
    <section class="product-box">
        <a href="/products/detail/<%= producto.id %>">
            <figure class="product-box_image">
                <img src="/images/products/<%= producto.image %>" alt="imagen de producto">
            </figure>
            <article class="product-box_data">
                <h2><%= producto.name %></h2>
                <span><%= producto.discount %></span>
                <p><%= producto.description %></p>
                <i class="fas fa-truck"></i>
            </article>
        </a>
    </section>
</div>